{% extends './base.html' %}

{% block title %}pyBooker{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col mt-3 mb-3">
      <h1>Fluffy Pancakes</h1>
      <p>Looking for a fluffy pancake recipe? This one is just right! Topped with syrup or strawberries and whipped cream, they are impossible to resist.</p>

      <h2>Ingredients</h2>
      <ul class="list-group list-group">
        <li class="list-group-item">¾ cup milk</li>
        <li class="list-group-item">2 tablespoons white vinegar</li>
        <li class="list-group-item">1 cup all-purpose flour</li>
        <li class="list-group-item">2 tablespoons white sugar</li>
        <li class="list-group-item">1 teaspoon baking powder</li>
        <li class="list-group-item">½ teaspoon baking soda</li>
        <li class="list-group-item">½ teaspoon salt</li>
        <li class="list-group-item">1 egg</li>
        <li class="list-group-item">2 tablespoons butter, melted</li>
        <li class="list-group-item">cooking spray</li>
      </ul>
      <h3 class="mt-3">Step 1</h3>
      <p>Combine milk with vinegar in a medium bowl and set aside for 5 minutes to "sour".</p>
      <h3>Step 2</h3>
      <p>Combine flour, sugar, baking powder, baking soda, and salt in a large mixing bowl. Whisk egg and butter into "soured" milk. Pour the flour mixture into the milk mixture and whisk until lumps are gone.</p>
      <h3>Step 3</h3>
      <p>Heat a large skillet over medium heat, and coat it with cooking spray. Pour 1/4 cupfuls of batter onto the skillet, and cook until bubbles form and the edges are dry, about 2 to 3 minutes. Flip with a spatula, and cook until browned on the other side. Repeat with remaining batter.</p>
      <p>That it, enjoy ;)</p>
    </div>
  </div>
</div>
{% endblock %}
